definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Custom_Smoothie_Order_Form.py
    artifacts:
      - pyproject.toml
      - Custom_Smoothie_Order_Form.py
      - .streamlit/config.toml
    identifier:
      database: SMOOTHIES
      schema: PUBLIC
      name: UNTITLED
    title: Custom_Smoothie_Order_Form
    query_warehouse: COMPUTE_WH
    compute_pool: SYSTEM_COMPUTE_POOL_CPU
    run_mode: SpcsOnly
    execute_as: OWNER
